body {
    background-color: #F2F3F4;
}

main {
    background-color: white;
}

form {
    margin-top: 30px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0px;
}

.main-section {
    margin-top: 15px;
}
.category-list {
    border-right: 1px solid #95A5A6;
}

.item-section {
    padding-left: 25px;
}

.item-title {
    display: inline-block;
    margin-right: 15px;
}

.category-title {
    display: inline-block;
    margin-right: 15px
}


