<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/Article">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"
    {% block header %}{% endblock %}
</head>
<body>
    <nav class="navbar-collapse">
        <ul class="nav nav-pills pull-right">
            {% if not login_session.username %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% else %}
            <li><a href="{{url_for('gdisconnect')}}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class = "container flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <main class="main container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>