{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-3 main-section category-list">
        {% include 'category_list.html' %}
    </div>

    <div class="col-xs-12 col-sm-9 main-section item-section">

        <h3 class="item-title">Latest Items</h3>
        {% if login_session.user_id %}
        <a href="{{url_for('new_item')}}">Add Item</a>
        {% endif %}
        <ul class="latest-items-list">
            {% for item in items %}
            <li class="latest-item-list-item text-capitalize"><a href="{{url_for('category_item', category_id=item.category_id, item_id=item.id)}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}