{% extends 'base.html' %}
{% block content %}

<form id="update_item" method="post" action="{{url_for('update_item', category_id=category_id, item_id=item.id)}}">
    <label for="name">Title</label>
    <input name="name" value="{{item.name}}">
    <label for="description">Description</label>
    <textarea name="description" rows="4" cols="50">{{item.description}}</textarea>
    <label for="category">Category</label>
    <select name="category">
        {% for c in categories %}
            {% if c.id == category_id %}
            <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

{% endblock %}